<main class="text-center">
  <h1>Libro Mayor</h1>

  <!-- Formulario de filtro -->
  <form [formGroup]="filtroForm" (ngSubmit)="onSearch()" class="inline-flex flex-col gap-5 text-left my-10">
    <div class="form-group">
      <label for="cuentaId">Cuenta:</label>
      <select id="cuentaId" formControlName="cuentaId" class="px-1 py-2 rounded-lg">
        <option value="">Seleccione una cuenta</option>
        @for (cuenta of cuentas; track cuenta) {
          <option [value]="cuenta.id">{{cuenta.nombre}}</option>
        }
      </select>
    </div>
    <div>
      <label for="fechaInicio" class="mr-1">Fecha Inicio:</label>
      <input type="date" id="fechaInicio" formControlName="fechaInicio" class="px-1 py-2 rounded-lg" />
    </div>
    <div>
      <label for="fechaFin" class="mr-5">Fecha Fin:</label>
      <input type="date" id="fechaFin" formControlName="fechaFin" class="px-1 py-2 rounded-lg" />
    </div>
    <div class="text-center flex gap-3">
      <div style="text-align: -webkit-center">
        <button type="submit" class="btn-pseudoclase my-10 flex gap-3 items-center">Buscar<fa-icon [icon]="faMagnifyingGlass" size="2x"/></button>
      </div>
      <div style="text-align: -webkit-center">
        <button type="button" class="btn-pseudoclase my-10 flex gap-3 items-center" (click)="clearFilters()">Limpiar<fa-icon [icon]="faEraser" size="2x"/></button>
      </div>
    </div>
  </form>

<!--  @if (nombreCuentaSeleccionada) {-->
<!--    <h2 class="mb-5">Resultados para {{ nombreCuentaSeleccionada }}</h2>-->
<!--  }-->

  <!-- Tabla de asientos -->
  @if (cuentaAsientos.length > 0) {
    <div class="before-table">
      <table class="w-full">
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Operación</th>
          <th>Debe</th>
          <th>Haber</th>
          <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Saldo inicial</td>
          <td></td>
          <td></td>
          <td>{{ calcularSaldoInicial() }}</td>
        </tr>
          @for (cuentaAsiento of cuentaAsientos; track cuentaAsientos) {
            <tr>
              <td>{{ cuentaAsiento.asiento.fecha | date: 'dd/MM/yyyy' }}</td>
              <td>{{cuentaAsiento.cuenta.nombre}}</td>
              @if (cuentaAsiento.debe > 0) {
                <td>{{cuentaAsiento.debe}}</td>
                <td></td>
              } @else {
                <td></td>
                <td>{{cuentaAsiento.haber}}</td>
              }
              <td>{{cuentaAsiento.saldo}}</td>
            </tr>
          }
        <tr>
          <td></td>
          <td>Saldo final</td>
          <td></td>
          <td></td>
          <td>{{cuentaAsientos.at(-1)?.saldo}}</td>
        </tr>
        </tbody>
      </table>

      <!-- Botón para imprimir -->
      <div style="text-align: -webkit-center">
        <button type="button" class="btn-pseudoclase my-10 flex gap-3 items-center" (click)="imprimirLibroMayor()">Imprimir Libro Mayor<fa-icon [icon]="faDownload"  size="2x"/></button>
      </div>
    </div>
  } @else if (busquedaRealizada) {
    <div class="before-table">
      <table>
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Operación</th>
          <th>Debe</th>
          <th>Haber</th>
          <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Saldo inicial</td>
          <td></td>
          <td></td>
<!--          Obtener saldo de la cuenta (no de cuentaAsiento) -->
          <td>{{saldoCuenta}}</td>
        </tr>
        <tr>
          <td></td>
          <td>Saldo final</td>
          <td></td>
          <td></td>
<!--          Lo mismo aquí debajo-->
          <td>{{saldoCuenta}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-success btn-pseudoclase mt-10" (click)="imprimirLibroMayor()">Imprimir Libro Mayor</button>
  }
</main>
