<main style="text-align: -webkit-center;">
  <h1>Ventas</h1>

  <div class="mt-10 flex gap-10 justify-center">
    @if (authService.hasRoleAdmin() || authService.hasRoleEmployee()) {
    <button class="btn-pseudoclase" [routerLink]="['/venta/new']">Registrar Venta</button>
    }
    <button class="btn-pseudoclase" [routerLink]="['/ventas/informe']">Informe de Ventas</button>
<!--    <button class="btn-pseudoclase" [routerLink]="['/ventas/costeo']">Métodos de costeo</button>-->
  </div>

  <!-- Tabla para mostrar las ventas -->
  @if (ventas.length !== 0) {
    <table class="table table-striped mt-10 text-center">
      <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Tipo</th>
        <th>Forma de Pago</th>
        <th>Monto</th>
        <th>Estado</th>
        <th>Imprimir venta</th>
        <th>Imprimir Factura</th>
      </tr>
      </thead>
      <tbody>
        @for (venta of ventas; track venta; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ formatearFecha(venta.fecha) }}</td>
            <td>{{ venta.cliente?.email }}</td>
            <td>{{ venta.vendedor?.email }}</td>
            <td>{{ venta.tipo }}</td>
            <td>
              @for (pago of pagosFiltrados[venta.id!]; track pago) {
                <div>{{ pago.cuenta.nombre }} ({{ pago.cantidad }})</div>
              }
            </td>
            <td>{{ venta.monto}}</td>
            <td>{{ venta.estado }}</td>
            <td>
              <button type="button" class="btn-pseudoclase" (click)="imprimirFacturaVenta(venta.id!)">Imprimir<fa-icon [icon]="faDownload" size="2x" class="ms-3"></fa-icon></button>
            </td>
            <td>
              <button type="button" class="btn-pseudoclase" (click)="abrirModal(venta.id!)">Imprimir<fa-icon [icon]="faDownload" size="2x" class="ms-3"></fa-icon></button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- Modal -->
    @if (modalVisible) {
      <div class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
        <div class="p-6 rounded-lg shadow-lg w-96" style="background: #2a9d8f">
          <h3 class="text-xl mb-4 text-white">Selecciona el tipo de factura</h3>
          <div class="mb-4">
            <label class="block mb-2">Tipo de Factura</label>
            <select [(ngModel)]="selectedCbteTipo" class="form-select block w-full px-1 py-2 rounded-lg">
              <option value="1">Factura A</option>
              <option value="6">Factura B</option>
              <option value="51">Factura M</option>
            </select>
          </div>
          <div class="flex justify-between">
            <button class="btn-pseudoclase bg-gray-500 text-white px-4 py-2 rounded" (click)="cerrarModal()">Cancelar</button>
            <button class="btn-pseudoclase bg-blue-500 text-white px-4 py-2 rounded" (click)="imprimirFacturaElectronica(ventaId, selectedCbteTipo)">Imprimir</button>
          </div>
        </div>
      </div>
    }
  }
</main>
