<div class="asiento-list-container">
  <h2>Lista de Asientos Contables</h2>

  @if (authService.hasRoleAdmin()) {
    <div class="boton separador">
      <button class="btn btn-secondary btn-padding btn-pseudoclase" [routerLink]="['/asiento/new']">Crear Asiento Contable</button>
    </div>
  }

  @if (asientos.length > 0) {
    <!-- Tabla de asientos -->
    <table class="asiento-table separador">
      <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        @if (authService.hasRoleAdmin()) {
        <th>Usuario</th>
          <th>Acciones</th>
        }
      </tr>
      </thead>
      <tbody>
        @for (asiento of asientos; track asiento) {
          <tr>
            <td>{{ asiento.id }}</td>
            <td>{{ asiento.fecha | date: 'dd/MM/yyyy' }}</td>
            @if (authService.hasRoleAdmin()) {
            <td>{{ asiento.usuarioEmail }}</td>
              <td>
                <button class="delete-button btn-pseudoclase" (click)="deleteAsiento(asiento)">Eliminar</button>
                <button class="btn btn-secondary btn-pseudoclase" [routerLink]="['/asiento/edit', asiento.id]">Modificar</button>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

    <div class="pagination-container" style="text-align: center">
      <button class="btn btn-secondary btn-pseudoclase" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Anterior</button>
      <span class="page-indicator">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
      <button class="btn btn-secondary btn-pseudoclase" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">Siguiente</button>
    </div>
  } @else {
    <div class="no-asientos">
      <p>No hay asientos contables disponibles.</p>
    </div>
  }
</div>
