<main class="text-center">
  <h1 class="mb-10">Lista de Asientos Contables</h1>

  @if (authService.hasRoleAdmin()) {
    <div class="mb-10">
      <button class="btn btn-secondary btn-padding btn-pseudoclase" [routerLink]="['/asiento/new']">Crear Asiento Contable</button>
    </div>
  }

  @if (asientos.length > 0) {
    <!-- Tabla de asientos -->
    <table class="w-full">
      <thead>
      <tr [ngClass]="authService.hasRoleAdmin() ? 'admin-columns' : 'user-columns'">
        <th>ID</th>
        <th>Fecha</th>
        @if (authService.hasRoleAdmin()) {
          <th>Usuario</th>
          <th>Acciones</th>
        }
      </tr>
      </thead>
      <tbody>
        @for (asiento of asientos; track asiento) {
          <tr [ngClass]="authService.hasRoleAdmin() ? 'admin-columns' : 'user-columns'">
            <td>{{ asiento.id }}</td>
            <td>{{ asiento.fecha | date: 'dd/MM/yyyy' }}</td>
            @if (authService.hasRoleAdmin()) {
              <td>{{ asiento.usuarioEmail }}</td>
              <td>
                <button class="delete-button btn-pseudoclase" (click)="deleteAsiento(asiento)">Eliminar</button>
                <!--                <button class="btn btn-secondary btn-pseudoclase" [routerLink]="['/asiento/edit', asiento.id]">Modificar</button>-->
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

    <div class="flex gap-3 justify-center items-center mt-10">
      <button class="btn-pseudoclase" (click)="onPageChange(currentPage - 1)" [hidden]="currentPage === 0">Anterior</button>
      <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
      <button class="btn-pseudoclase" (click)="onPageChange(currentPage + 1)" [hidden]="currentPage + 1 === totalPages">Siguiente</button>
    </div>
  } @else {
    <div class="mt-10">
      <p>No hay asientos contables disponibles.</p>
    </div>
  }
</main>
