.rounded-b-lg {
  border-bottom: 1px solid #264653;
  border-left: 1px solid #264653;
  border-right: 1px solid #264653;
}

.aspect-square {
  position: relative; /* Importante para que el ícono use esta referencia */
}

.icon {
  position: absolute;
  top: 10px; /* Ajusta según el espacio deseado desde el borde superior */
  right: 10px; /* Ajusta según el espacio deseado desde el borde derecho */
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  color: #264653;
}

.card {
  transition: 500ms;
}

.card:hover {
  transform: scale(1.2);
}
