.navbar-container {
  background-color: #264653;
  padding: 10px;
  color: #fff !important;
}

aside {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.aside-menu.open {
  right: 0;
  display: block;
}

.close-aside-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
  width: 30px;
  cursor: pointer;
}

.aside-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside-menu li {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

aside > ul:first-child {
  margin-top: 20px;
}

.aside-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-toggle-button {
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu-toggle-button {
    display: inline-block;
  }

  .nav-buttons {
    display: none;
  }
}

li{
  color: #333 !important;
}

.toolbar {
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.toolbar-group-right {
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    gap: 15px;
    margin-right: 20px;
  }
}

a {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-button:hover {
  color: #857877; /* Cambia el color del texto al pasar el mouse */
  text-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega un resplandor al texto */
}

.menu-popup {
  margin-right: 15px;
}

.menu-toggle-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 18% !important;
}

.menu-icon {
  font-size: 20px;
}

.avatar12{
  align-items: center;
  align-content: center;
}

.avatar-sm {
  width: 35.75px;
  height: 35.75px;
  align-content: center;
}
