<a href="/cuentas">
  <div id="close" style="right: 20px; top: 80px; width: 50px; height: 50px" class="absolute background-oscuro content-center text-center rounded-full ease-in duration-300">
    <fa-icon [icon]="faXmark" size="2x" class="color-turquesa"/>
  </div>
</a>
<main class="text-center">
  <h1>{{ cuentaId ? 'Editar Cuenta Contable' : 'Crear Cuenta Contable' }}</h1>

  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="inline-flex flex-col gap-5 text-left my-10">
    <!-- Nombre -->
    <div>
      <label for="nombre">Nombre de la Cuenta:</label>
      <input id="nombre" type="text" formControlName="nombre" placeholder="Ej: Caja" class="px-1 py-2 rounded-lg"/>
      @if (accountForm.get('nombre')?.invalid && accountForm.get('nombre')?.touched) {
        <p class="text-center">
          El nombre es requerido y debe tener al menos 3 caracteres.
        </p>
      }
    </div>

    <!-- Código -->
    <div>
      <label for="codigo" class="mr-24">Código:</label>
      <input id="codigo" type="text" formControlName="codigo" placeholder="Ej: 101"  class="px-1 py-2 rounded-lg"/>
      @if (accountForm.get('codigo')?.invalid && accountForm.get('codigo')?.touched) {
        <p class="text-center">
          El código debe ser un número válido.
        </p>
      }
      @if (isCodigoExistente) {
        <p class="text-center">
          El código ya está registrado. Por favor, elija otro.
        </p>
      }
    </div>

    <!-- Tipo -->
    <div>
      <label for="tipo" class="mr-10">Tipo de Cuenta:</label>
      <input id="tipo" type="text" formControlName="tipo" placeholder="Ej: Activo" class="px-1 py-2 rounded-lg"/>
    </div>

    <!-- Cuenta Padre -->
    <div>
      <label for="cuentaPadre" class="mr-12">Cuenta Padre:</label>
      <select id="cuentaPadre" formControlName="cuentaPadre" class="px-1 py-2 rounded-lg">
        <option [ngValue]="null">Ninguna</option>
        @for (cuenta of cuentas; track cuenta) {
          <ng-container>
            <option [ngValue]="cuenta">{{ cuenta.nombre }}</option>
          </ng-container>
        }
      </select>
      <!-- Mensajes de error para cuenta padre -->
      @if (cuentaPadreSaldoInvalido && errorMessage) {
        <p class="mb-10">{{ errorMessage }}</p>
      }
    </div>


    <!-- Saldo Actual -->
    <div>
      <label for="saldoActual" class="mr-14">Saldo Actual:</label>
      <input id="saldoActual" type="number" formControlName="saldoActual" min="0" [disabled]="isSaldoDisabled" class="px-1 py-2 rounded-lg"/>
      @if (isSaldoDisabled) {
        <p class="text-center">
          No se puede modificar el saldo porque esta cuenta tiene subcuentas.
        </p>
      }
    </div>


    @if (cuentaId) {
      <!-- Activa (Checkbox) -->
      <div class="text-center">
        <label for="activa">Cuenta Activa:</label>
        <input id="activa" type="checkbox" formControlName="activa" [checked]="true"/>
      </div>
    }

    <!-- Botón de Envío -->
    <button type="submit" class="btn-pseudoclase" [disabled]="accountForm.invalid || isCodigoExistente || cuentaPadreSaldoInvalido">
      {{ cuentaId ? 'Modificar cuenta' : 'Crear cuenta' }}
    </button>
  </form>

  <!-- Mensajes de Éxito o Error -->
  @if (successMessage) {
    <p class="mt-10">{{ successMessage }}</p>
  }
  @if (errorMessage) {
    <p class="mt-10">{{ errorMessage }}</p>
  }
</main>
