<div class="cuenta-list-container">
  <h2>Lista de Cuentas</h2>

  @if (authService.hasRoleAdmin()) {
    <div class="boton">
      <button class="btn btn-secondary btn-padding" [routerLink]="['/cuenta/new']">Crear plan de cuenta</button>
    </div>
  }

  <div class="filter-container">
    <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Filtrar por nombre" />
    <button class="btn btn-secondary" (click)="onSearch()">Buscar</button>
    <button class="btn btn-secondary" (click)="clearFilters()">Limpiar Filtros</button>
  </div>


  @if (cuentas.length > 0) {
    <table class="cuenta-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Código</th>
        <th>Saldo</th>
        @if (authService.hasRoleAdmin()) {
          <th>Acciones</th>
        }
      </tr>
      </thead>
      <tbody>
      @for (cuenta of cuentas; track cuenta) {
        <ng-container>
          <app-cuenta-item [cuenta]="cuenta" [level]="0"></app-cuenta-item>
        </ng-container>
      }
      </tbody>
    </table>

    <div class="pagination-container">
      <button class="btn btn-secondary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Anterior</button>
      <span class="page-indicator">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
      <button class="btn btn-secondary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">Siguiente</button>
    </div>
  } @else {
    <div class="no-accounts">
      <p>No hay cuentas disponibles.</p>
    </div>
  }
</div>
