.cuenta-list-container {
  padding: 20px;
}
.search-bar {
  margin-bottom: 15px;
}
.cuenta-table {
  width: 100%;
  border-collapse: collapse;
}

.cuenta-table tr {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr 4fr;
}

.cuenta-table th {
  padding: 8px;
  border: 1px solid #8C8C8C;
  background-color: #2c5e77;
  color: #fff
}

.delete-button {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: darkred;
}
.no-accounts {
  margin-top: 20px;
  color: gray;
}
