<main class="text-center">
  @if (authService.isAuthenticated()) {
    <h1>Datos del Cliente</h1>
    <div class="my-10">
      <div class="inline-grid grid-cols-2 gap-5">
        <div>
          <p>Nombre: {{user?.firstName}}</p>
          <p>Apellido: {{user?.lastName}}</p>
          <p>Email: {{user?.email}}</p>
        </div>
        <div>
          <p>Saldo en cuenta: {{user?.saldoCuenta}}</p>
          <p>Saldo en banco: {{user?.saldoBanco}}</p>
          <p>Limite restante de crédito: {{user?.limite}}</p>
          <p>Roles: {{authService.getUserAuthority()}}</p>
        </div>
      </div>
    </div>

    <h2>Compras realizadas</h2>

    @if (ventas.length !== 0) {
      <div style="text-align: -webkit-center;">
        <table class="table table-striped mt-10 text-center">
          <thead>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>Tipo</th>
            <th>Forma de Pago</th>
            <th>Monto</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
            @for (venta of ventas; track venta; let i = $index) {
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ formatearFecha(venta.fecha) }}</td>
                <td>{{ venta.vendedorEmail }}</td>
                <td>{{ venta.tipo }}</td>
                <td>
                  @for (pago of pagosFiltrados[venta.id!]; track pago) {
                    <div>{{ pago.cuenta.nombre }} ({{ pago.cantidad }})</div>
                  }
                </td>
                <td>{{ venta.monto}}</td>
                <td>{{ venta.estado }}</td>
                <td>
                  @if (venta.tipo === 'Crédito' && venta.estado === 'Pendiente') {
                    <button class="btn-pseudoclase" [routerLink]="['/cliente/cuotas']" [queryParams]="{ ventaId: venta.id }">Pagar Cuotas</button>
                  }
                  <!-- Lo comentado en otro momento se hará... -->
                  <!--                <button type="button" class="btn-pseudoclase" (click)="imprimirFacturaVenta(venta.id!)">Imprimir Venta<fa-icon [icon]="faDownload" size="2x"/></button>-->
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  }
</main>
