<tr class="grid" [ngClass]="authService.hasRoleAdmin() ? 'admin-columns' : 'user-columns'">
  <td class="content-center">{{ getNumeroCuenta(parentPrefix, cuenta) }}</td>
  <td class="content-center">{{ cuenta?.nombre }}</td>
  <td class="content-center">{{ cuenta?.saldoActual }}</td>
  <td class="content-center">{{ cuenta?.activa ? 'Activa' : 'Eliminada' }}</td>
  @if (authService.hasRoleAdmin()) {
    <td class="flex gap-3 justify-center">
      <button class="delete-button btn-pseudoclase" (click)="deleteCuenta(cuenta!)">Eliminar</button>
      <button class="btn btn-secondary btn-pseudoclase" (click)="editCuenta(cuenta!)">Modificar</button>
    </td>
  }
</tr>

<!-- Recursividad: Mostrar subcuentas -->
@for (subCuenta of cuenta?.subCuentas; track subCuenta) {
  <ng-container>
    <app-cuenta-item
      [cuenta]="subCuenta"
      [level]="level + 1"
      [parentPrefix]="getNumeroCuenta(parentPrefix, cuenta)">
    </app-cuenta-item>
  </ng-container>
}
