<div class="asiento-form">
  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" #asientoForm="ngForm">
    <!-- Campos de descripción y fecha -->
    <div class="divisor">
      <div>
        <h1>{{ isEditMode ? 'Modificar Asiento Contable' : 'Crear Asiento Contable' }}</h1>
        <div>
          <label for="fecha">Fecha:</label>
          <input
            type="datetime-local"
            id="fecha"
            [(ngModel)]="asiento.fecha"
            name="fecha"
            required
            #fechaField="ngModel"
          />
          @if (fechaField.invalid && fechaField.touched) {
            <div class="error">
              La fecha es obligatoria.
            </div>
          }
        </div>

        <!-- Formulario de agregar movimiento -->
        <div>
          <h2>Agregar Movimiento Contable</h2>
          <div class="separador">
            <label for="descripcion">Nombre:</label>
            <input
              type="text"
              id="descripcion"
              [(ngModel)]="nuevoMovimiento.descripcion"
              name="descripcion"
            />
          </div>
          <div class="separador">
            <label for="cuenta">Cuenta:</label>
            <select id="cuenta" [(ngModel)]="nuevoMovimiento.cuenta" name="cuenta">
              <option [ngValue]="null">Seleccione una cuenta (opcional)</option>
              @for (cuenta of cuentas; track cuenta) {
                <option [ngValue]="cuenta">
                  {{ cuenta.nombre }}
                </option>
              }
            </select>
          </div>
          <div class="separador">
            <label for="monto">Monto:</label>
            <input type="number" id="monto" [(ngModel)]="nuevoMovimiento.monto" name="monto" />
          </div>
          <div class="separador">
            <label for="tipoMovimiento">Tipo de Movimiento:</label>
            <select id="tipoMovimiento" [(ngModel)]="nuevoMovimiento.tipoMovimiento" name="tipoMovimiento" required #tipoMovimientoField="ngModel">
              <option [ngValue]="null" disabled>Seleccione un tipo</option>
              <option [ngValue]="'+A'">Activo Aumenta (+A)</option>
              <option [ngValue]="'-A'">Activo Disminuye (-A)</option>
              <option [ngValue]="'+P'">Pasivo Aumenta (+P)</option>
              <option [ngValue]="'-P'">Pasivo Disminuye (-P)</option>
              <option [ngValue]="'R+'">Resultado Positivo (R+)</option>
              <option [ngValue]="'R-'">Resultado Negativo (R-)</option>
              <option [ngValue]="'PN'">Patrimonio Neto (PN)</option>
            </select>
            @if (tipoMovimientoField.invalid && tipoMovimientoField.touched) {
              <div class="error">
                Debe seleccionar un tipo de movimiento.
              </div>
            }
          </div>
          <div>
            <button class="separador btn-pseudoclase" type="button" (click)="agregarMovimiento()">
              Agregar Movimiento
            </button>
          </div>
        </div>

        <button
          class="separador btn-pseudoclase"
          type="submit"
          [disabled]="asiento.movimientos.length === 0 || asientoForm.invalid">
          {{ isEditMode ? 'Actualizar' : 'Crear' }} Asiento Contable
        </button>

      </div>
      <div>
        <!-- Lista de movimientos -->
        @if (asiento.movimientos.length > 0) {
          <div class="separador">
            <h3>Movimientos Agregados</h3>
            <ul>
              @for (movimiento of asiento.movimientos; track movimiento; let i = $index) {
                <li>
                  {{ movimiento.descripcion }} - {{ movimiento.monto }} - {{ getTipoMovimientoDescripcion(movimiento.tipoMovimiento) }}
                  <button type="button" (click)="eliminarMovimiento(i)">Eliminar</button>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
  </form>
</div>
