<div class="libro-diario-container">
  <h2>Libro Diario</h2>

  <!-- Formulario de filtro -->
  <form [formGroup]="filtroForm" (ngSubmit)="onSearch()">
    <div class="form-group">
      <label for="fechaInicio">Fecha Inicio:</label>
      <input type="date" id="fechaInicio" formControlName="fechaInicio" />
    </div>
    <div class="form-group">
      <label for="fechaFin">Fecha Fin:</label>
      <input type="date" id="fechaFin" formControlName="fechaFin" />
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
    <button type="button" class="btn btn-secondary" (click)="clearFilters()">Limpiar</button>
  </form>

  <!-- Tabla de asientos -->

  @if (asientos.length > 0) {
    <table class="asiento-table">
      <thead>
      <tr>
        <th></th>
        <th>Operación</th>
        <th>Movimientos</th>
        <th>Debe</th>
        <th>Haber</th>
      </tr>
      </thead>
      <tbody>
        @for (asiento of asientos; track asiento) {
          @for (movimento of asiento.movimientos; track movimento) {
            <tr>
              <!-- Mostrar id y fecha solo en la primera fila de cada asiento -->
              @if (movimento === asiento.movimientos[0]) {
                <td>{{ asiento.id }}</td>
                <td>{{ asiento.fecha | date: 'dd/MM/yyyy' }}</td>
              } @else {
                <td></td>
                <td></td>
              }
              <td>{{ movimento.descripcion }}</td>
              <!-- Clasificar si es debe o haber -->
              @if (movimento.esDebito) {
                <td>{{ movimento.monto }}</td>
                <td></td>
              } @else {
                <td></td>
                <td>{{ movimento.monto }}</td>
              }
            </tr>
          }
        }
      </tbody>
    </table>

    <button type="button" class="btn btn-success" (click)="imprimirLibroDiario()">Imprimir Libro Diario</button>

    <div class="pagination-container">
      <button class="btn btn-secondary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Anterior</button>
      <span class="page-indicator">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
      <button class="btn btn-secondary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">Siguiente</button>
    </div>

  } @else {
    <div class="no-asientos">
      <p>No hay asientos contables en el rango de fechas seleccionado.</p>
    </div>
  }
</div>
